<div class="jumbotron mt-4 text-center">
  <h2 class="display-4">Notes App</h2>
  <p class="lead">A simple app to manage notes developed with <br> MongoDB, Express, Handlebars and Node.js</p>
  <hr class="my-4">
  <a href="/users/signup" class="btn btn-primary btn-lg" >Sign Up</a>
  <a href="/users/signin" class="btn btn-primary btn-lg" >Sign In</a>
  <hr class="my-4">
  <p>Learn more about me at:</p>
  <a class="btn btn-secondary btn-lg" 
  href="{{linkedIn}}" 
  role="button" target="_blank">LinkedIn</a>
</div>